.dotfiles
.antigen
node_modules
.local/
.mozilla/
.cache
.vim
yay
.config/go/
dev/
go/
.cfg.git/
.claude/
.claude.json
.ssh/
.bash_history
.zsh_history
.zshrc.zwc
.viminfo
Downloads/
Pictures/
Videos/
.pki/
.rustup/
.cargo/
.nv/
.config/dconf/
.config/pulse/
.config/spotify/
.config/systemd/
.config/.claude/
.config/nvim/.claude/
.config/nvim/.netrwhist
